.section1 {
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.centeralign {
    justify-self: center;
    align-self: center;
}

 .roundedrectangle {
    display: grid;
    grid-template-columns: 1fr 8fr;
    border: 0.1px solid lightgrey;
    border-radius: 25px;
    padding: 5px;
 }

 .circle {
    border: 1px solid grey;
    border-radius: 60px;
    padding: 7px;
 }

 .anywhere {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
 }

 .anyweek {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
 }

 .fa-magnifying-glass {
    font-size: x-large;
 }

 .fa-filter {
    font-size: larger
 }