.section1 {
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.centeralign {
    justify-self: center;
    align-self: center;
}

 .roundedrectangle {
    display: grid;
    grid-template-columns: 1fr 8fr;
    border: 0.1px solid lightgrey;
    border-radius: 25px;
    padding: 5px;
 }

 .circle {
    border: 1px solid grey;
    border-radius: 60px;
    padding: 7px;
 }

 .anywhere {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
 }

 .anyweek {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: grey;
   font-weight: 100;
}

.fa-magnifying-glass {
   font-size: x-large;
}

.fa-filter {
   font-size: larger;
}

.section2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section2repeats {
  display: grid;
  grid-template-rows: 5fr 1fr;
  height: 100px;
}

.accomtypeicon {
  font-size:xx-large;
  color: rgb(95, 90, 90);
}

.accomtype {
  text-align: center;
  color: rgb(95, 90, 90);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image {
   width: 94%;
   border-radius: 3%;
   margin-left: 3%;
   margin-right: 5%;
}

.overlaytext {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: larger;
   color: black;
   position: absolute;
   top:5%;
   left: 8%;
   background-color: white;
   border-radius: 25px;
   padding: 1%;
}

.imagediv {
   position: relative;
   width: 100%;
   margin-bottom: 12%;
}

.fa-heart{
   color: white;
   position: absolute;
   top: 5%;
   right: 8%;
   font-size: xx-large;
}

.section3text {
   margin-left: 3%;
   margin-right: 3%;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: larger;
}

.accomdeets {
   color: grey;
}

.rating {
   float: right;
}

.continue {
   font-size: x-large;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   font-weight: bold;
}

.show {
   background-color: black;
   width: 30%;
   margin: auto;
   height: 50px;
   display: table;
   border-radius: 10%;
}

.showtext {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: larger;
   text-align: center;
   color: white;
   vertical-align: middle;
   display: table-cell;
}

.section4 {
   height: 150px;
}